<div class="container">
  <div class="top-bar">
    <!-- Dropdowns container for data model-specific settings -->
    <div class="dropdown-container">
      <app-federation-selector
        [isDomainExpert]="isDomainExpert"
        [defaultFederation]="selectedFederation"
        (federationChange)="onSelectedFederationChange($event)"
      ></app-federation-selector>

      <app-data-model-selector
        *ngIf="selectedDataModel && (crossSectionalModels.length > 0 || longitudinalModels.length > 0)"
        [crossSectionalModels]="crossSectionalModels"
        [longitudinalModels]="longitudinalModels"
        [defaultModel]="selectedDataModel"
        (dataModelChange)="onSelectedDataModelChange($event)"
      ></app-data-model-selector>

      <app-export-options
        [selectedFileType]="selectedFileType()"
        (export)="exportDataModel($event)"
      ></app-export-options>
    </div>

    <app-action-menu
      *ngIf="isDomainExpert"
      [isSelectedDataModelReleased]="selectedDataModel?.released ?? false"
      (action)="handleAction($event)"
      (menuVisibleChange)="handleMenuToggle($event)"
    ></app-action-menu>
  </div>

  <app-visualization
  [visualizationType]="visualizationType"
  [d3Data]="d3Data"
  (selectedNodeChange)="onSelectedNodeChange($event)">
  </app-visualization>

  <div *ngIf="!menuVisible()">
    <app-node-info
      *ngIf="selectedNode"
      [selectedNode]="selectedNode"
      (visibilityChange)="onNodeInfoVisibilityChange($event)"
    ></app-node-info>
  </div>
</div>
