<app-filter
  [filters]="filters"
  [selectedFilter]="selectedFilter"
  (filterChange)="selectFilter($event)"
></app-filter>

<section class="federations-list" *ngIf="!isChildRouteActive()">

  <app-add-federation-card *ngIf="isAdmin" (addNew)="goToAddFederation()"></app-add-federation-card>

  <app-federation-card
    *ngFor="let federation of filteredFederations"
    [federation]="federation"
    [isAdmin]="isAdmin"
    (updateFederation)="goToUpdateFederation($event)"
    (deleteFederation)="deleteFederation($event)"
    (visualizeDataModel)="goToVisualization($event)"
  ></app-federation-card>
</section>

  <!-- Child route outlet for Add and Update forms -->
<router-outlet></router-outlet>
