<app-filter
  [filters]="filters"
  [selectedFilter]="selectedFilter"
  (filterChange)="selectFilter($event)"
></app-filter>

@if (!isChildRouteActive()){
  <section class="federations-list">
    @if (isAdmin){
      <app-add-federation-card (addNew)="goToAddFederation()"></app-add-federation-card>
    }

    @for (federation of filteredFederations; track federation){
      <app-federation-card
        [federation]="federation"
        [isAdmin]="isAdmin"
        (updateFederation)="goToUpdateFederation($event)"
        (deleteFederation)="deleteFederation($event)"
        (visualizeDataModel)="goToVisualization($event)"
      ></app-federation-card>
    }
  </section>
}


  <!-- Child route outlet for Add and Update forms -->
<router-outlet></router-outlet>
