<!-- federations.component.html -->
<section class="filter-section">
  <div class="filter-links">
    @for (filter of filters; let i = $index; track filter) {
      <ng-container >
        <span [ngClass]="{'active-filter': filter === selectedFilter}"
              (click)="selectFilter(filter)">
          {{ filter }}
        </span>
        <!-- Show separator pipe if it's not the last element -->
        <span *ngIf="i < filters.length - 1"> | </span>
      </ng-container>
    }
  </div>
</section>

<section class="federations-list">
  @for (federation of federations; track federation) {
    <img [src]="'assets/' + federation.code + '.png'" alt="{{ federation.title }}" class="federation-image">
    <div class="federation-content">
      <h3>{{ federation.title }}</h3>
      <p>Data Records: {{ federation.records }} | Institutions: {{ federation.institutions }}</p>
      <p>Data Models:</p>
      <ul>
        <li *ngFor="let dataModel of federation.dataModels">
          {{ dataModel }}
        </li>
      </ul>
      <p class="federation-description">{{ federation.description }}</p>
      <div class="federation-buttons">
        <button class="data-model-btn" (click)="goToIcicle()">Data Model</button>
        <button class="request-access-btn">Request Access</button>
      </div>
    </div>
  }
</section>

