.variables-panel-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.search-bar-container {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  z-index: 1000;
}

.main-panel {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: 10px;
}

.bubble-chart-section {
  flex-shrink: 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  padding: 5px;
  width: fit-content;
  min-width: 52%;
}

.variable-filter-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

.selection-panel {
  flex: 1;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  padding: 10px;
  overflow-y: auto;
}

.selection-panel h4 {
  margin-bottom: 10px;
}

.selection-panel ul {
  list-style: none;
  padding: 0;
}

.selection-panel li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.selectors-container {
  display: flex;
  gap: 20px; /* Adjust spacing between dropdowns */
  align-items: center;
}

.distribution-graph {
  display: block;
  width: 100%;
  min-height: 68vh;
  height: auto; /* Allow it to grow based on content */
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 20px; /* Add space below */
  overflow: visible; /* Ensure no clipping occurs */
  padding: 0px;
}

.histogram-placeholder {
  width: 100%;
  height: 250px;
  background: linear-gradient(90deg, #f0f0f0, #e0e0e0, #f0f0f0);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 8px;
}

.group-components-vertical {
  display: block;
  width: 60%;
}

/* Adjust "No Data Available" Message */
.no-data-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  min-height: 450px;
  color: #666;
  text-align: center;
  height: 100%; /* Make it fill the height of the panel */
  margin: 0; /* Remove any margin that could affect positioning */
}


