<div class="container">
  <!-- Header with title and actions button -->
  <div class="header">
    <h1 id="data-models-heading">Data Models</h1>
    <!-- Options menu button for actions -->
    <button class="three-dots-button" aria-haspopup="true" [attr.aria-expanded]="optionsVisible()" aria-controls="options-menu" aria-label="Open actions menu" (click)="toggleOptionsMenu()">
      &#8942;
    </button>

    <!-- Dropdown menu for actions -->
    <div *ngIf="optionsVisible()" class="options-menu">
      <button (click)="gotoAddDataModel()">Add Data Model</button>
      <button (click)="goToUpdateDataModel()">Update Data Model</button>
      <button (click)="deleteDataModel()">Delete Data Model</button>
      <!-- Conditional Release Data Model button -->
      <button *ngIf="!isSelectedDataModelReleased()" (click)="releaseDataModel()">Release Data Model</button>
      <button (click)="showExportOptions()">Export Data Model</button>

      <!-- File type selection dropdown, visible only when exportOptionsVisible is true -->
      <div *ngIf="exportOptionsVisible()" style="padding: 10px;">
        <label>Select Export Format:</label>
        <select [(ngModel)]="selectedFileType">
          <option value="json">JSON</option>
          <option value="xlsx">XLSX</option>
        </select>
        <button (click)="exportDataModel()">Export</button> <!-- Export button to trigger action -->
      </div>
    </div>
  </div>

  <!-- Dropdowns container -->
  <div class="dropdown-container">
    <div>
      <label for="federation">Select Federation:</label>
      <select id="federation" [(ngModel)]="selectedFederation" (change)="onFederationChange()" aria-labelledby="federation">
        <option [ngValue]="null">All Federations</option>
        <option *ngFor="let federation of federations" [ngValue]="federation">{{ federation.code }}</option>
      </select>
    </div>

    <div>
      <label for="dataModel">Select Data Model:</label>
      <select id="dataModel" [(ngModel)]="selectedDataModelFullname" (change)="onDataModelChange()" aria-labelledby="dataModel">

        <!-- Cross-Sectional Data Models Group -->
        <optgroup *ngIf="crossSectionalModels.length > 0" label="Cross-Sectional">
          <option *ngFor="let model of crossSectionalModels" [value]="model.fullname">{{ model.fullname }}</option>
        </optgroup>

        <!-- Longitudinal Data Models Group -->
        <optgroup *ngIf="longitudinalModels.length > 0" label="Longitudinal">
          <option *ngFor="let model of longitudinalModels" [value]="model.fullname">{{ model.fullname }}</option>
        </optgroup>

        <!-- No Data Models Fallback -->
        <option *ngIf="crossSectionalModels.length === 0 && longitudinalModels.length === 0" disabled>
          No data models available
        </option>

      </select>
    </div>



    <div>
      <label for="visualization">Select Visualization:</label>
      <select id="visualization" (change)="onVisualizationTypeChange($event)">
        <option value="ZoomableCirclePacking">Zoomable Circle Packing</option>
        <option value="ZoomableTreemap">Zoomable Treemap</option>
        <option value="Treemap">Treemap</option>
        <option value="ZoomableIcicle">Zoomable Icicle</option>
        <option value="ZoomableSunburst">Zoomable Sunburst</option>
        <option value="TidyTree">TidyTree</option>
      </select>
    </div>

    <!-- Button to toggle Node Info visibility -->
    <button class="toggle-node-info-button" (click)="toggleNodeInfo()">
      {{ nodeInfoVisible ? 'Hide Node Info' : 'Show Node Info' }}
    </button>
  </div>

  <!-- Chart container with scrolling capability -->
  <div id="chart-container">
    <div id="chart" style="width: 100%; height: 600px;"></div>
  </div>

  <!-- Collapsible Node Information Panel -->
  @if (selectedNode && nodeInfoVisible) {
    <div class="node-info" style="width: 200px; padding: 10px; background-color: #f9f9f9; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); border-radius: 6px;">
    <button class="collapse-button" (click)="toggleNodeInfo()">Node Info</button>
      <h3 style="margin-bottom: 8px; color: #333; font-size: 14px;">Node Information</h3>

      <!-- If the current node is a parent (has children), show only code, label, and number of children -->
      @if (selectedNode?.children?.length > 0) {
        <p><strong>Code:</strong> {{ selectedNode?.data?.code || 'N/A' }}</p>
        <p><strong>Label:</strong> {{ selectedNode?.data?.name || 'N/A' }}</p>
        <p><strong>Number of Children:</strong> {{ selectedNode?.children?.length || 0 }}</p>
      }
      @else {
        <p><strong>Name:</strong> {{ selectedNode?.data?.name || 'N/A' }}</p>
        <p><strong>Code:</strong> {{ selectedNode?.data?.code || 'N/A' }}</p>
        <p><strong>Description:</strong> {{ selectedNode?.data?.description || 'N/A' }}</p>
        <p><strong>SQL Type:</strong> {{ selectedNode?.data?.sql_type || 'N/A' }}</p>
        <p><strong>Is Categorical:</strong> {{ selectedNode?.data?.isCategorical ? 'Yes' : 'No' }}</p>
        <p><strong>Units:</strong> {{ selectedNode?.data?.units || 'N/A' }}</p>
        <p><strong>Min Value:</strong> {{ selectedNode?.data?.minValue || 'N/A' }}</p>
        <p><strong>Max Value:</strong> {{ selectedNode?.data?.maxValue || 'N/A' }}</p>
      }
    </div>
  }
</div>
