.accordion {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  overflow: hidden;
  /* padding-top: 30px; */
  font-size: 1.2rem;
}

.accordion-header {
  padding: 15px;
  cursor: pointer;
  background: linear-gradient(90deg, #00758c, #00a6c0);
  /* background: linear-gradient(90deg, #00838c, #00b3c0); */
  /* background: linear-gradient(90deg, #048079, #59dfdf); */
  border-radius: 4px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-header button {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.accordion-content {
  padding-top: 5px;
  display: none;
}

.accordion-content.open {
  display: block;
}
