<nav class="navbar">
  <ul>
    <li>
      <a routerLink="/landing-page">
        <i class="fas fa-home"></i>
        <span class="icon-label">Home</span>
      </a>
    </li>
    <li>
      <a routerLink="/federations-page">
        <i class="fas fa-users"></i>
        <span class="icon-label">Federations</span>
      </a>
    </li>
    <li>
      <a routerLink="/experiments-dashboard">
        <i class="fas fa-flask"></i>
        <span class="icon-label">Experiments</span>
      </a>
    </li>
    <li>
      <a routerLink="/about">
        <i class="fas fa-info-circle"></i>
        <span class="icon-label">About</span>
      </a>
    </li>
  </ul>
</nav>
