.main-footer {
  background-color: transparent;
  padding: 6px 10px 12px;
  text-align: center;
  color: #64748b;
}

.footer-link {
  color: #94a3b8;
  text-decoration: none;
  font-size: 11px;
}

.footer-link:hover {
  text-decoration: underline;
  color: #64748b;
}
