<nav class="navbar">
  <ul>
    <li><a href="https://datacatalogue.mip.ebrains.eu/home"><i class="fas fa-home"></i>Home</a></li>
    <li><a href="https://datacatalogue.mip.ebrains.eu/federations"><i class="fas fa-users"></i>Federations</a></li>
    <li><a href="https://datacatalogue.mip.ebrains.eu/data-models"><i class="fas fa-brain"></i>Data Models</a></li>
    <li><a routerLink="/experiments-dashboard"><i class="fas fa-flask"></i>Experiments</a></li>
    <li><a href="https://datacatalogue.mip.ebrains.eu/about"><i class="fas fa-info"></i>About</a></li>
  </ul>
</nav>
