<nav class="navbar">
  <ul>
    <!-- <li><a routerLink="/home"><i class="fas fa-home"></i>Home</a></li> -->
    <!-- <li><a routerLink="/federations"><i class="fas fa-users"></i>Federations</a></li> -->
    <!-- <li><a routerLink="/experiments-dashboard"><i class="fas fa-flask"></i>Experiments</a></li> -->
    <!-- <li><a routerLink="/experiment-studio"><i class="fas fa-flask"></i>Experiments</a></li> -->
    <!-- <li><a routerLink="/about"><i class="fas fa-info"></i>About</a></li> -->
  </ul>
</nav>
