<!-- <div class="sidebar" [class.collapsed]="isCollapsed">
   Sidebar Title -->
  <!-- <h3 *ngIf="!isCollapsed">{{ title }}</h3> -->

  <!-- Sidebar Toggle Button
  <button class="toggle-btn" (click)="toggleSidebar()">
    <i class="fas" [class.fa-chevron-left]="!isCollapsed" [class.fa-chevron-right]="isCollapsed"></i>
  </button>

   Sidebar List --> <!--
  <ul class="sidebar-list">
    <li *ngFor="let item of items">
      <a [routerLink]="item.route">
        <i [class]="item.icon"></i>
        <span *ngIf="!isCollapsed">{{ item.label }}</span>  Only show labels if not collapsed
      </a>
    </li>
  </ul>
</div>
-->

<!-- sidebar.component.html -->
<div class="sidebar">
  <h2>{{ title }}</h2>

  <ul>
    @for (item of items; track item) {
      <li>
        {{ item.name }}
        <ul>
          @for (subItem of item.subItems; track subItem) {
            <li>{{ subItem }}</li>
          }
        </ul>
      </li>
    }
  </ul>
</div>
